* {
  margin: 0;
  padding: 0;

}
body {
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
}
/* header container */
.header {
  background-color: #333;
  color: #fff;
  height: 80px;
}
.header i {
  color: red;
  font-size: 25px;
}
.header a {
  font-family: 'Muli', sans-serif;
  font-size: 20px;
  padding: 20px;
  color: #fff;
  font-weight: bolder;
  text-decoration: none;
  letter-spacing: 4px;
}
.header a:hover {
  border-bottom: 8px solid red;
  border-width: 5px;
}
.header button {
  background-color: red;
  border: none;
  border-radius: 5px;
  outline: none;
  padding: 15px;
  /* margin-bottom: 10px; */
  color: #fff;

}
/*header span elements  */
span { padding-top: 30px;}
.head-left {float:left;}
.head-right {float:right;}

/* banner elements  */
.banner {
  height: 50vh;
  background-color: darkmagenta;
  /* background-image:url('); */
  /* padding: 0; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#moving {
  /* position: absolute; */
  top: 0;
  right: 0;
  left: 0;
}
